# Common Environment Variables
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback
JWT_SECRET=
FRONTEND_URL=http://localhost:3000
NODE_ENV=development

# Development
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=
DB_PASSWORD=
DB_NAME=


# Production
DATABASE_URL=MY_POSTGRES_HOSTED_URL
